apiVersion: v1
kind: Secret
metadata:
  name: github-tamagotchi-secrets
  namespace: nijmegen-test
type: Opaque
stringData:
  database-url: "postgresql+asyncpg://user:password@postgresql:5432/tamagotchi"
  github-token: "ghp_xxxxxxxxxxxxxxxxxxxx"
